torch
torchvision
torchaudio
PyMuPDF
tqdm
sentence-transformers
accelerate
bitsandbytes
transformers
ragas
datasets
nltk
matplotlib
spacy
openai
python-dotenv
requests
pandas
numpy
scikit-learn
huggingface_hub